---
import { SITE_TITLE } from "../consts";
---

<header
  class="px-5 py-5 mb-2 border-b border-border flex items-center justify-between max-w-3xl mx-auto"
>
  <a
    href="/"
    class="font-inter text-2xl font-bold tracking-tight text-text hover:text-accent transition-colors"
  >
    {SITE_TITLE}
  </a>
</header>
